# ==============================================================================
# reticulum.config - Reticulum Network Interfaces & Transport Configuration
# ==============================================================================
# Place this file in: /tmp/mnt/sda1/home/lblogd/.reticulum/config
#
# The `lnsd` program searches for this file inside the `.reticulum` directory 
# located in the user's HOME directory. Our startup script sets the HOME 
# environment variable to `/tmp/mnt/sda1/home/lblogd`, so it looks for the 
# configuration file at `/tmp/mnt/sda1/home/lblogd/.reticulum/config`.
# ==============================================================================

[reticulum]
# Enable packet routing and transport forwarding on this node
enable_transport = yes

# Share this instance with other local applications on the router
share_instance = yes
shared_instance_port = 37428

# Directory where Reticulum stores its active network state (keys, ratchets, etc.)
# Placed in RAM (/tmp) to avoid heavy write cycles on the USB flash drive
storagepath = /tmp/reticulum/storage

[logging]
# Log level: 1 (Info), 2 (Warning), 3 (Error), 0 (Debug)
loglevel = 1

[interfaces]
  # Expose Reticulum transport to your local home network (Wi-Fi/LAN)
  [[Local Wi-Fi Server]]
    type = TCPServerInterface
    enabled = yes
    listen_ip = 0.0.0.0
    listen_port = 4242

  # Connect to the global I2P network using the socat SAM bridge (Optional)
  # It delegates heavy cryptographic operations to a powerful local or remote I2P node
  [[I2P Bridge Interface]]
    type = I2PInterface
    enabled = yes
    sam_host = 127.0.0.1
    sam_port = 7656
    peers = ["s2hv32euft4t5v4rb6ommh37kcwbwxsjeda33dujx4ool2a3jyfa.b32.i2p", "wnbroeyo5kotdkq4qpitosoch4f64fiwv4uyrk7tp57w2ubthatq.b32.i2p"]

  # Connect to the WDGWars public Reticulum node over TCP
  [[WDGWars Node]]
    type = TCPClientInterface
    enabled = yes
    target_host = rns.wdgwars.pl
    target_port = 4242
    bootstrap_only = no
    name = WDGWars Node
  
  # Connect to gameboloto.fun public Reticulum backbone node
  [[gameboloto.fun]]
    type = BackboneInterface
    enabled = yes
    target_host = 45.39.190.201
    target_port = 4242
    transport_identity = 23ee01623eeb8653e5376a1d5d883798
    recursive_prs = no
    announces_from_internal = yes
    announces_to_internal = no
    name = gameboloto.fun
